# Python
__pycache__/
*.pyc
venv/
env/

# Django
db.sqlite3
*.log

# C++ build output
cpp_engine/engine
cpp_engine/graph_coloring_engine
cpp_engine/greedy_engine
cpp_engine/backtracking_engine
cpp_engine/*.o

# OS/editor junk
.DS_Store
.vscode/
.idea/
